Flask == 1.1.2
Flask-RESTful == 0.3.8
requests == 2.25.1
flask-sqlalchemy == 2.4.4
psycopg2-binary == 2.8.6
pycryptodomex == 3.10.1
flask-jwt-extended == 3.25.0
websocket-client == 0.57.0
pyyaml == 5.4.1
Flask-Cors == 3.0.10
ldap3 == 2.9
Werkzeug == 1.0.1
SQLAlchemy == 1.3.23
sqlalchemy-utils == 0.36.8
kubernetes == 12.0.1
alembic == 1.5.4
python-gitlab == 2.6.0
flask-socketio == 5.0.1
eventlet == 0.30.2
gunicorn == 20.1.0
python-redmine == 2.3.0
boto3==1.16.25
pandas==1.2.5
openpyxl==3.0.7
XlsxWriter==1.4.4
paramiko